account_id=123456789012
execution_role_arn=arn:aws:iam::123456789012:role/EcsTaskExecution
task_role_arn=arn:aws:iam::123456789012:role/EcsTask
ecs_service_sg=sg-33bb22aa
http_open_sg=sg-1a2b3c4d
vpc_id=vpc-1a2b3c4d
subnet_c_public=subnet-0bb1c79de3EXAMPLE
subnet_d_public=subnet-0bb1c79de3EXAMPLE
subnet_c_private=subnet-0bb1c79de3EXAMPLE
subnet_d_private=subnet-0bb1c79de3EXAMPLE
certificate_arn=arn:aws:acm:ap-northeast-1:123456789012:certificate/12345678-1234-1234-1234-123456789012
secret_key_base_for_bff=39b290146bea6ce975c37cfc23
secret_key_base_for_main=39b290146bea6ce975c37cfc23
secret_key_base_for_tsukurepo_backend=39b290146bea6ce975c37cfc23
mysql_user=root
mysql_password=password
aurora_id=cnpexample
github_id=github
